<div class="container">
  <div class="task-header">
    <h1 class="title">{{ currentTask.title }}</h1>
    <div [class]="'status status-' + currentTask.status.toLowerCase()">
      {{ currentTask.status }}
    </div>
  </div>

  <div class="task-details">
    <div class="detail-card">
      <div class="detail-title">Описание:</div>
      <p>{{ currentTask.description || '-' }}</p>
    </div>
  </div>

<!--  <div class="actions">-->
<!--    <button class="btn btn-edit" (click)="editTask()">Edit Task</button>-->
<!--    <button class="btn btn-delete" (click)="deleteTask()">Delete Task</button>-->
<!--  </div>-->
</div>
