@use "../../common/style" as *;

.container {
  background-color: $background-color;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $light-color;

  .info-task-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;
    background-color: $dark-color;
    width: 600px;
    padding: 40px 80px;
    border-radius: 14px;

    .task-header {
      margin-bottom: 20px;

      .title {
        margin-bottom: 20px;
      }

      .status {
        display: inline;
        border: 1px solid $light-color;
        border-radius: 5px;
        padding: 5px 10px;
      }
    }

    .description-p {
      word-break: break-word;
      margin-top: 10px;
    }

    .detail-title {
      font-size: 18px;
      font-weight: bold;
    }

    .back-btn {
      @include ui-button;
      align-self: end;
    }
  }
}

@media (max-width: 590px) {
  .container {
    width: 100%;

    .info-task-container {
      padding: 40px;
      margin: 0 10px;

      .task-header {
        .title {
          font-size: 24px;
        }
      }

      .description-p {
        font-size: 14px;
      }
    }
  }
}
