@use "../../common/style" as *;

.container-form {
  background-color: rgba($dark-color, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .task-form {
    background-color: $background-color;
    color: $light-color;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 50px;
    width: 30%;
    max-width: 400px;
    border-radius: 14px;

    .form-group {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 15px;

      .error-message {
        color: red;
        margin-left: 5px;
        font-size: 12px;
      }

      .form-control {
        @include ui-input;
      }

      .description-textarea {
        @include scrollbar;
        resize: none;
      }
    }

    .form-actions {
      display: flex;
      justify-content: space-between;

      .btn {
        @include ui-button;

        &:disabled {
          opacity: 0.7;
          cursor: default;

          &:hover {
            transform: none;
            background-color: $button-color;
          }
        }
      }
    }
  }
}
